
<div class="container">
    <div class='flex flex-col justify-between hero-section'>
        <div class="max-w-40">
        <h1 class="centered">Hello! <br> I am Oussama Tekaya, a <span class="text-hl">UX/UI designer</br>  </span>based in Tunisia.</h1>
        <p class="centered">I love building apps and websites. I've helped many startups create amazing digital experiences for their users.</p>
        <p class="centered">Welcome to my design world.</p>
        <div>
            {{ content | safe }}
        </div>
        </div>
        <div class="flex flex-col w-full">
            {% include "templates/icons/BottomArrow.njk" %}
            <div class="sep"></div>
        </div>

    </div>
</div>
